[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ben Schreiber
	email = ben@joshuins.com
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
[push]
  autoSetupRemote = true
# [blame]
#   ignoreRevsFile = .git-blame-ignore-revs
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
